@import url('https://fonts.googleapis.com/css?family=Dosis');


body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

.container-fluid {
  padding-top: 100px;
  padding-bottom: 70px;
}

/*btn*/

.btn-sharp {
  border-radius:0;
}


/*    --------------------------------------------------
	:: form Section
	-------------------------------------------------- */

#form {
  padding-top: 50px
}

#form .form-wrap {
  width: 30%;
  margin: 0 auto;
}

#form h1 {
  color: black;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

#form .form-group {
  margin-bottom: 25px;
}

#form .form-control {
  border-radius: 0;
  -webkit-appearance: none;
}

#form input {
  text-align: center;
}

#form .btn.btn-custom {
  font-size: 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
}

#form .forget {
  font-size: 13px;
  text-align: center;
  display: block;
}

/*index*/

.info {
  text-align: center;
}

select {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

@media all and (max-width:450px) {

  .container-fluid {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  #form {
    width: 100%;
  }

  #form .form-wrap {
    width: 80%;
    margin: 0 auto;
  }

}
